
/* 权重值为 0-0-1 （1个元素选择器）*/
p {
    color: purple;
}
/* 权重值为 0-0-2 （2个元素选择器）*/
div p {
    color: bisque;
}
/* 权重值为 0-1-0（ class 选择器） */
.title {
    color: blue;
}
/* 权重值为 1-0-0 （id选择器）*/
#name, #name1, #name2, #name3 {
    color: green;
}
/* important 不会增加权重值，但是使用它的时候浏览器会直接使用这个属性值忽略其它属性值，它是老大 */
.imp {
    color: red !important;
}
/* 权重值为 1-0-1 = 1-0-0（id选择器）+ 0-0-1（伪元素选择器）*/
#name::first-letter {
    color: peru;
}